<%- include('./partials/head') %>
<link rel="stylesheet" href="/styles/post.css">
<%- post[0].yoast_head %>
</head>

<body> 
<%- include('./partials/header') %>
<main>
  <article>
    <h1><%- post[0].title.rendered %></h1>

    <img src="<%= post[0].jetpack_featured_media_url  %>" alt="">

    <div class="excerpt">
      <a href=""><%= post[0].categories %></a>
      <span class=".date"><%- post[0].date %></span>
      <%- post[0].excerpt.rendered %>
    </div>

    <section class="content">
      <div class="info">
        <p>Auteur: <strong><%= post[0].yoast_head_json.author %></strong></p>
        <p>Leestijd: <strong><%= post[0].yoast_head_json.time %> min</strong></p>
      </div>

      <%- post[0].content.rendered %>
    </section>
  </article>
</main>


<%- include('./partials/foot') %>