<%- include('./partials/head') %>
<link rel="stylesheet" href="/styles/post.css">

<title><%- post.title.rendered %></title>
</head>

<body> 
<%- include('./partials/navigation') %>
<main>
  <article>
    <h1><%- post.title.rendered %></h1>

    <!-- Als er een object in media is laat de image zien -->
    <% if (media[0]) {%>
      <img src="<%= media[0].link %>" alt="<%= media[0].alt_text %>">
    <% } %>

    <div class="excerpt">
      <a href=""><%= post.categories %></a>
      <span><%- post.date_gmt %></span>
      <%- post.excerpt.rendered %>
    </div>

    <section class="content">
      <%- post.content.rendered %>
    </section>
  </article>
</main>


<%- include('./partials/foot') %>