<%- include('./partials/head') %>

<%- include('./partials/navigation') %>

  <article>
    <h1><%- post.title.rendered %></h1>

    <%- post.content.rendered %>
  </article>

<%- include('./partials/foot') %>